/* Main styles */
body{
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a4d8f8;
}

/* Heading */
h1 {
    font-size: 3rem;
    text-decoration-line: underline;
}

/* Main game play area */
.game-area{
    border: 2px solid;
    width: 40%;
    border-radius: 25px;
    text-align: center;
    background-color: #67c0f7;
}

.btn{
    font-size: 8rem;
    min-width: fit-content;
    border-radius: 100px;
    margin: 20px;
    padding: 10px;
    background-color: #2f2fed;
    color: #F9A12EFF;
}

#result {
    font-size: 1.3rem;
    padding: 0 10px;
}

#winner{
    font-size: 1.5rem;
}

/* Player and computer scores */
.score-area{
    text-align: center;
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
}

.scores:first-child{
    margin-right: 80px;
}

/* Replay button */
#replay{
    font-size: 1.5rem;
    font-weight: 700;
    min-width: fit-content;
    border-radius: 40px;
    padding: 20px;
    background-color: #67c0f7;
}

/* Footer */
#rules{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 10px;
}

#rules li {
    font-size: 1.3rem;
    padding-right: 15px;
}

#rules i {
    color: #F9A12EFF;
}

/* Media queries for screens smaller than 600px */
@media only screen and (max-width: 600px){
    /* Heading */
    h1 {
        text-align: center;
        font-size: 2rem;
    }

    /* Main game play area*/
    .game-area {
        width: fit-content;
    }
    .btn{
        font-size: 3rem;
        width: fit-content;
        margin: 10px;
    }

    /* Footer */
    #rules{
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    #rules li {
        font-size: 1.2rem;
        padding: 5px 0;
    }
}

/* Media queries for screens larger than 600px */
@media only screen and (min-width: 600px){
    /* Main game play area */
    .game-area {
        width: fit-content;
    }

    /* Footer */
    #rules li {
        font-size: 1.1rem;
        padding-right: 10px;
    }
}

/* Media queries for screens larger than 1024px */
@media only screen and (min-width: 1024px){
    /* Main game play area */
    .game-area {
        width: 700px;
    }
}
