body{
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a4d8f8;
}

h1 {
    font-size: 3rem;
    text-decoration-line: underline;
}

.game-area{
    border: 2px solid;
    border-radius: 25px;
    text-align: center;
    background-color: #67c0f7;
    
}

.score-area{
    text-align: center;
}

.btn{
    font-size: 8rem;
    min-width: 100px;
    border-radius: 100px;
    margin: 20px;
    padding: 10px;
    background-color: #2f2fed;
    color: blanchedalmond;
}

#replay{
    font-size: 1.5rem;
    min-width: 50px;
    border-radius: 40px;
    padding: 20px;
    background-color: #2f2fed;
}

#result {
    font-size: 1.3rem;
    padding: 0 10px;

}

#winner{
    font-size: 1.5rem;

}